.wrapper {
  display: flex;
}
.side_bar {
  height: 100vh;
  background-color: black;
}
.content {
  padding: 20px 130px;
}
.image {
  display: flex;
  justify-content: center;
}
.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  margin: 10px;
}
.title {
  margin-top: 30px;
  width: 1000px;
  height: 210px;
  background: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
